################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BizmannERP/FileContentIndex
/BizzManWebErp/obj/Debug
/.vs/BizzManWebErp/FileContentIndex
/.vs/BizzManWebErp/v17/fileList.bin
/.vs/BizzManWebErp/v17/HierarchyCache.v1.txt
