
CREATE OR ALTER  PROC [dbo].[procMnfManufactureWorkCentersDetail]   
    @MachineType [nvarchar](60) = Null,
	@Capacity [nvarchar](20) = Null,
	@ProductName [nvarchar](60) = Null,
	@Cost int,
	@SetupTime int,
	@Location [nvarchar](60) = Null,
	@Remark [nvarchar](max) = NULL,
	@CreateUser [nvarchar](50) = NULL,
	@UpdateUser [nvarchar](50) = NULL
AS
	
BEGIN
	INSERT INTO dbo.[tblMnfWorkCentersDetail] 
	(
	MachineType,
	Capacity,
	ProductName,
	Cost,
	SetupTime,
	Location,
	Remark,
	CreateUser)
	SELECT
	@MachineType,
	@Capacity,
	@ProductName,
	@Cost,
	@SetupTime,
	@Location,
	@Remark,
	@CreateUser
    
END 
